@{
    ViewBag.Title = "Lista Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center text-uppercase">REPORTE EMPLEADOS</h3>

<table id="tabla-main" class="table table-bordered" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Departamento</th>
            <th>Telefono</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            $('#tabla-main').DataTable({
                "ajax":{
                    "url": "@Url.Content("~/Persona/Json")",
                    "type": 'Get',
                    "dataType":'json'
                },
                "columns":[
                    {'data':'Id'},
                    {'data':'Rut'},
                    {'data':'Nombre'},
                    {'data':'Email'},
                    {'data':'Departamento'},
                    {'data':'Telefono'},
                ],
                "dom":'Brftip',
                "buttons":[
                    {
                        extend: 'copy',
                        className:'btn btn-dark rounded-0',
                        text:'<i class="far fa-copy"></i> Copy'
                    },
                    {
                        extend: 'excel',
                        className:'btn btn-dark rounded-0',
                        text:'<i class="far fa-file-excel"></i> Excel'
                    },
                    {
                        extend: 'pdf',
                        className:'btn btn-dark rounded-0',
                        text:'<i class="far fa-file-pdf"></i> PDF'
                    },
                    {
                        extend: 'csv',
                        className:'btn btn-dark rounded-0',
                        text:'<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className:'btn btn-dark rounded-0',
                        text:'<i class="fas fa-print"></i> Print'
                    },
                ]
            })
        })
    </script>
    }